[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]utput/
[Oo]utputs/
[Tt]est/
[Tt]ests/
[Rr]esult/
[Rr]esults/
[Dd]ata/

mmw_oob/
docker-compose.y*

.settings/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
